:root {
  /* fonts */
  --font-mulish: Mulish;
  --font-poppins: Poppins;
  --subhead-dark: "SF Pro Display";
  --body-light: "SF Pro Text";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 13px;
  --font-size-base: 14px;
  --body-light-size: 16px;
  --font-size-xl: 18px;
  --subhead-dark-size: 20px;
  --h3-dark-size: 24px;

  /* Colors */
  --background: #f4f4f4;
  --color-gray-200: #ebebeb;
  --light-grey: #e1e1e1;
  --color-gray-400: #ddd;
  --color-gray-500: #c4c4c4;
  --color-gray-600: #8c909e;
  --body-text: #868686;
  --grey: #7b7b7b;
  --color-gray-900: #757575;
  --color-gray-1000: #11142d;
  --main-color: #010f07;
  --white: #fff;
  --main: #e7524a;
  --black: #000;
  --red: #fa0c0c;

  /* border radiuses */
  --br-2xs: 8px;
  --br-xs: 10px;
  --br-sm: 12px;
  --br-md: 15px;
  --br-lg: 16px;
  --br-xl: 24px;
}
