body {
  margin: 0;
  line-height: normal;
}
.bg,
.cara-membuat-ayam-kecap-spesia-icon {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-sm);
  width: 160px;
}
.bg {
  background-color: var(--white);
  height: 288px;
}
.cara-membuat-ayam-kecap-spesia-icon {
  height: 220px;
  object-fit: cover;
}
.nama-warung {
  position: absolute;
  top: calc(50% + 92px);
  left: 0;
  letter-spacing: 0.44px;
  font-weight: 500;
  display: inline-block;
}
.tipe-jualan {
  top: calc(50% - 12px);
  letter-spacing: -0.4px;
  line-height: 24px;
  display: inline-block;
}
.foodgrid1,
.tipe-jualan,
.type {
  position: absolute;
  left: 0;
}
.type {
  width: 40%;
  top: calc(50% + 120px);
  right: 60%;
  height: 24px;
  font-size: var(--body-dark-size);
  color: var(--color-gray-200);
  font-family: var(--body-dark);
}
.foodgrid1 {
  top: 0;
  width: 160px;
  height: 288px;
}
.grid-makanan {
  top: 616px;
  width: 160px;
  height: 288px;
}
.grid-makanan,
.grid-makanan1,
.type2 {
  position: absolute;
  left: 0;
}
.grid-makanan1 {
  top: 924px;
  width: 160px;
  height: 288px;
}
.type2 {
  width: 56.88%;
  top: calc(50% + 120px);
  right: 43.13%;
  height: 24px;
  font-size: var(--body-dark-size);
  color: var(--color-gray-200);
  font-family: var(--body-dark);
}
.grid-makanan2,
.grid-makanan3,
.grid-makanan4 {
  position: absolute;
  top: 308px;
  left: 175px;
  width: 160px;
  height: 288px;
}
.grid-makanan3,
.grid-makanan4 {
  top: 924px;
}
.grid-makanan4 {
  top: 616px;
}
.type5 {
  width: 62.5%;
  top: calc(50% + 120px);
  right: 37.5%;
  height: 24px;
  font-size: var(--body-dark-size);
  color: var(--color-gray-200);
  font-family: var(--body-dark);
}
.grid-makanan5,
.type5,
.type6 {
  position: absolute;
  left: 0;
}
.grid-makanan5 {
  top: 308px;
  width: 160px;
  height: 288px;
}
.type6 {
  width: 86.25%;
  top: calc(50% + 120px);
  right: 13.75%;
  height: 24px;
  font-size: var(--body-dark-size);
  color: var(--color-gray-200);
  font-family: var(--body-dark);
}
.grid-makanan6 {
  position: absolute;
  top: 0;
  left: 175px;
  width: 160px;
  height: 288px;
}
.nama-warung7 {
  top: calc(50% + 92px);
  letter-spacing: 0.44px;
  font-weight: 500;
  display: inline-block;
}
.grid-makanan7,
.nama-warung7,
.type7 {
  position: absolute;
  left: 0;
  cursor: pointer;
}
.type7 {
  width: 60%;
  top: calc(50% + 120px);
  right: 40%;
  height: 24px;
  font-size: var(--body-dark-size);
  color: var(--color-gray-200);
  font-family: var(--body-dark);
}
.grid-makanan7 {
  top: 0;
  width: 160px;
  height: 288px;
}
.stand {
  position: absolute;
  top: 124px;
  left: calc(50% - 167px);
  width: 335px;
  height: 1212px;
}
.canteen,
.daftar-stand {
  position: absolute;
  letter-spacing: -0.28px;
  display: inline-block;
}
.daftar-stand {
  top: 34px;
  left: calc(50% - 44px);
  font-weight: 500;
}
.canteen {
  top: 0;
  left: 0;
  align-items: center;
  width: 122px;
  height: 31px;
}
.branding-uny-1 {
  position: absolute;
  top: 2px;
  left: 122px;
  width: 59px;
  height: 29px;
  object-fit: cover;
}
.group-div {
  position: fixed;
  top: 54px;
  left: calc(50% - 90px);
  width: 181px;
  height: 31px;
  font-size: 24px;
  color: var(--main);
  font-family: var(--font-poppins);
}
.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--white);
  width: 390px;
  height: 113px;
  overflow: hidden;
  text-align: center;
  align-items: center;
  font-size: var(--body-dark-size);
  color: var(--black);
  font-family: var(--subhead-dark);
}
.svg-icon {
  position: absolute;
  top: calc(50% - 21.5px);
  left: calc(50% - 9.72px);
  width: 20px;
  height: 21px;
  overflow: hidden;
}
.beranda1 {
  position: absolute;
  top: calc(50% + 3.5px);
  left: calc(50% - 28.85px);
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-mulish);
  color: var(--main);
  text-align: center;
}
.beranda {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 32.23%;
  top: 0;
  right: 67.77%;
  left: 0;
  height: 70px;
}
.svg-icon1 {
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 10.08px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.pesanan1 {
  position: absolute;
  top: calc(50% + 3px);
  left: calc(50% - 28.77px);
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-mulish);
  color: var(--grey);
  text-align: center;
}
.pesanan {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 35.94%;
  top: 0;
  right: 31.83%;
  left: 32.23%;
  height: 70px;
}
.svg-icon2 {
  position: absolute;
  top: calc(50% - 21px);
  left: calc(50% - 10.21px);
  width: 20px;
  height: 20px;
  overflow: hidden;
}
.profil1 {
  position: absolute;
  top: calc(50% + 3px);
  left: calc(50% - 18.93px);
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-mulish);
  color: var(--grey);
  text-align: center;
}
.profil {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  width: 31.84%;
  top: 0;
  right: 0;
  left: 68.17%;
  height: 70px;
}
.tab-bar {
  position: fixed;
  bottom: 0px;
  left: 0;
  border-radius: var(--br-md) var(--br-md) 0 0;
  background-color: var(--white);
  box-shadow: 0-2px 12px rgba(180, 180, 180, 0.25);
  width: 390px;
  height: 77px;
}
.flex-1{
  -webkit-box-flex:1;-ms-flex:1 1 0%;flex:1 1 0%
}
.w-full{
  width:100%
}
.flex-col{
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column
}
.homepagelogin {
  position: relative;
  background-color: var(--background);
  width: 100%;
  height: 1431px;
  overflow: hidden;
  text-align: left;
  font-size: var(--subhead-dark-size);
  color: var(--color-gray-400);
  font-family: var(--subhead-dark);
}
