body {
  margin: 0;
  line-height: normal;
}
.b1 {
  color: var(--red);
}
.indonesiasvg-icon1 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 26.28px);
  width: 24px;
  height: 24px;
}
.div7 {
  position: absolute;
  width: 49.24%;
  top: 10px;
  left: 48.42%;
  display: flex;
  align-items: center;
  height: 21px;
}
.inputborder-icon1,
.span1 {
  position: absolute;
  height: 40px;
}
.span1 {
  width: 13.82%;
  top: 0;
  right: 86.18%;
  left: 0;
  border-radius: var(--br-md);
  border: 1px solid var(--color-gray-400);
  box-sizing: border-box;
}
.inputborder-icon1 {
  width: 99.62%;
  top: 19.5px;
  right: 0;
  left: 0.38%;
  max-width: 100%;
  overflow: hidden;
}
.input3 {
  border: 0;
  display: flex;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  position: absolute;
  width: 93.92%;
  top: 9px;
  left: 6.08%;
  font-weight: 700;
  color: var(--black);
  text-align: left;
  align-items: center;
  height: 21px;
  cursor: pointer;
}
.input3 ::placeholder {
  color: var(--color-gray-900);
}
.input2 {
  width: 43.26%;
  top: 0;
  right: 40.95%;
  left: 15.79%;
  background-color: var(--white);
  height: 40px;
}
.div5,
.div6,
.input2 {
  position: absolute;
}
.div6 {
  top: 23px;
  left: 0;
  width: 608px;
  height: 40px;
}
.div5 {
  top: 183px;
  left: calc(50% - 179px);
  width: 359px;
  height: 63px;
}
.nama-depan-txt {
  line-break: anywhere;
  width: 100%;
}
.nama-depan {
  position: absolute;
  top: 1px;
  left: 0;
  display: flex;
  align-items: center;
  width: 103px;
  height: 21px;
}
.inputborder-icon2 {
  position: absolute;
  width: 99.72%;
  top: 19.5px;
  right: 0;
  left: 0.28%;
  max-width: 100%;
  overflow: hidden;
  height: 40px;
}
.nama-depan1 {
  border: 0;
  display: flex;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: transparent;
  width: 69.38%;
  top: 10px;
  left: 0;
  font-weight: 700;
  color: var(--black);
  text-align: left;
  align-items: center;
  height: 21px;
  cursor: pointer;
}
.nama-depan1 ::placeholder {
  color: var(--color-gray-900);
}
.div8,
.input4,
.nama-depan1 {
  position: absolute;
}
.input4 {
  width: 58.55%;
  top: 0;
  right: 41.45%;
  left: 0;
  background-color: var(--white);
  height: 40px;
}
.div8 {
  top: 18px;
  left: calc(50% - 178px);
  width: 359px;
  height: 63px;
}
.nama-depan2 {
  position: absolute;
  top: 1px;
  left: 0;
  display: flex;
  align-items: center;
  width: 144px;
  height: 21px;
}
.div10,
.kirim-otp1 {
  position: absolute;
  top: 101px;
  left: calc(50% - 178px);
  width: 359px;
  height: 63px;
}
.kirim-otp1 {
  top: 17px;
  left: calc(50% - 163px);
  font-size: var(--font-size-base);
  font-family: var(--font-poppins);
  color: var(--white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 327px;
  height: 23px;
}
.tombol-blokaktif1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--main);
  position: absolute;
  top: calc(50% + 72px);
  left: calc(50% - 178px);
  border-radius: var(--br-sm);
  width: 360px;
  height: 58px;
}
.ketentuan-penggunaan {
  color: var(--white);
}
.dengan-mendaftar-saya-mengert {
  position: absolute;
  top: calc(50% + 161px);
  left: calc(50% - 152px);
  font-size: var(--font-size-xs);
  text-align: center;
  display: flex;
  align-items: center;
  width: 306px;
  height: 20px;
}
.kebijakan-privasi1,
.ketentuan-penggunaan1 {
  text-decoration: none;
  position: absolute;
  top: calc(50% + 171px);
  font-size: var(--font-size-xs);
  color: var(--red);
  text-align: center;
  display: inline-block;
}
.ketentuan-penggunaan1 {
  left: calc(50% - 136px);
}
.kebijakan-privasi1 {
  left: calc(50% + 37px);
}
.div4 {
  position: absolute;
  width: 100%;
  top: 65px;
  right: 0;
  left: 0;
  height: 410px;
}
.button-icon {
  position: absolute;
  width: 8.21%;
  top: calc(50% - 16.5px);
  right: 85.64%;
  left: 6.15%;
  max-width: 100%;
  overflow: hidden;
  height: 32px;
  cursor: pointer;
}
.loginregister1 {
  position: absolute;
  width: 30.28%;
  top: 20px;
  left: 16.41%;
  font-weight: 600;
  display: flex;
  align-items: center;
  height: 23px;
}
.navborder-icon1 {
  position: absolute;
  width: 100%;
  top: 32.5px;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 65px;
}
.navigation11,
.registernull {
  background-color: var(--white);
  text-align: left;
  font-family: var(--font-poppins);
}
.navigation11 {
  position: fixed;
  top: 0;
  left: calc(50% - 195px);
  width: 390px;
  height: 65px;
  font-size: var(--font-size-base);
  color: var(--color-gray-1000);
  z-index: 1;
}
.registernull {
  position: relative;
  width: 100%;
  height: 844px;
  overflow: hidden;
  font-size: var(--font-size-sm);
  color: var(--color-gray-600);
}
